.myProjects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.myProjects .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    z-index: 1;
    cursor: pointer;
}

.myProjects .arrow:last-child {
    right: 0;
}

.myProjects .arrow:first-child {
    left: 12px;
}


.myProjects .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 5px;
    width: 94%;
    height: 25rem;
    border-radius: 10px;
}

.myProjects .carousel::-webkit-scrollbar {
    display: none;
}

.myProjects .carousel .item {
    margin: 10px;
    padding: 10px;
    width: 44%;
    height: 55vh;
    flex: none;
    border-radius: 10px;
    background-color: white;
}

.myProjects .carousel .item .imageProject {
    margin: auto auto;
    width: 90%;
}

.myProjects .carousel .item .imageProject img {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.myProjects .carousel .item .info {
    margin-left: 20px;
    margin-top: 10px;
}

.myProjects .carousel .item .info ul {
    margin-left: 5px;
}


@media (max-width: 768px) {
    .myProjects .carousel {
        width: 80%;
    }

    .myProjects .carousel .item {
        width: 90%;
        height: 80vh;
    }
}

@media (max-width: 538px) {
    .myProjects .carousel .item {
        height: 54vh;
    }
}