.skillsContainer {
    padding: 20px;
    height: 100%;
}

.skillsContainer h3 {
    margin-top: 5px;
    font-size: 20px;
}

.technique {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.technique a {
    margin: auto auto;
    text-align: center;
    margin: 8px;
}

.technique a div img {
    width: 60px;
    height: 60px;
}

.technique a div h4 {
    font-size: 14px;
}

.nonTechnical {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nonTechnical p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #487aa1;
    background-color: #ccc;
}

@media (max-width: 1220px) {
    .technique a div img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 731px) {
    .technique h3 {
        font-size: 14px;
    }
}

@media (max-width: 690px) {
    .technique a div img {
        width: 32px;
        height: 32px;
    }

    .technique a div h4 {
        font-size: 12px;
    }

    .nonTechnical p {
        width: 100px;
        font-size: 14px;
    }
}