.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.socialMedia li {
    margin-right: 10px;
}

.socialMedia .icon {
    font-size: 120px;
}

@media (max-width: 850px) {
    .socialMedia {
        width: 100px;
        display: block;
        margin: auto auto;
    }

    .socialMedia .icon {
        font-size: 100px;
    }
}

@media (max-width: 540px) {
    .socialMedia .icon {
        font-size: 90px;
    }
}