.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 80%; 
}

.socialMedia li {
    margin-right: 10px;
}

.socialMedia .icon {
    font-size: 150px;
}

@media (max-width: 850px) {
    .socialMedia .icon {
        font-size: 100px;
    }
}