.container {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #1A4D48;
}
img {
    width: 55px;
    height: 48px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

.titleContainer {
    margin-left: 6px;
    text-align: center;
}