.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #1D373A;
}

.footer,
.footer a {
    color: #fff;
    font-size: 18px;
}

.footer a {
    margin-left: 5px;
    color: #307cb3;
    font-weight: 500;
}

.footer a:hover {
    transition: 0.8s;
    border-bottom: 2px solid #307cb3;
}

@media (max-width: 800px) {
    .marginTop {
        margin-top: 340px;
    }
}