.companiesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80%;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 44vh;
    margin: 10px;
    padding: 10px;
    color: #fff;
    font-family: "Roboto";
    background-color: #32373D;
    border-radius: 10px;
}

.company h3 {
    font-weight: 600;
}

.company img, span {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
}

.company ul li {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 1274) {
    .company {
        height: 100%;
    }
}

@media (max-width: 730px) {
    .company {
        width: 90%;
    }
}