.container {
    width: 100%;
    background-color: #D9D9D9;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.menuButton {
    top: 12px;
    right: 5px;
    position: absolute;
    width: 30px;
    display: none;
    margin: auto auto;
    font-size: 30px;
    cursor: pointer;
    z-index: 1500;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: #171A23;
}

.link .menuButton {
    display: none;
}

.link ul {
    display: flex;
    flex-direction: column;
}

.link .tab {
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
}

.link .tab:hover {
    transition: 0.8s;
    color: #307cb3;
    border-bottom: 2px solid #307cb3; 
}

.link .tab.active {
    border-bottom: 2px solid #fff; 
  }

.rendering {
    width: 75%;

}

@media (max-width: 800px) {
    .main {
        display: block;
    }

    .menuButton {
        display: flex;
    }

    .link {
        width: 50%;
        height: auto;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .link ul {
        flex-direction: row;
        align-items: center;
    }

    .link.showMenu {
        display: block;
    }

    .link.showMenu ul {
        display: flex;
        flex-direction: column;
    }

    .rendering {
        margin: auto auto;
        width: 100%;
    }

}

@media (max-width: 640px) {
    .link .tab {
        font-size: 12px;
    }
}